@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2><br />
@*<h3>@ViewBag.Message</h3>*@

<p>This website is for the wedding of Jessica Samaroo and James Tyler.  Here guests can find information about the event and RSVP.  </p><br />
<h3>Registry</h3><br />
<p>We are primarily interested in you coming and having a great time, but if you would also like to bring a gift that would be greatly appreciated.  We would love Lowe's gift cards for working on our home, or we are also registered at Target.</p>
