@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2><br />
@*<h3>@ViewBag.Message</h3>*@

<address>
    <strong>
        Address:</strong>
    <br />
    7319 E 58th St<br />
    Tulsa, OK 74145<br />
</address>

<address>
    <strong>Bride:</strong> <br /><br />email: <a href="mailto:jmsamaroo@aol.com">jmsamaroo@aol.com</a> <br />phone: 918.809.9110<br /><br />
    <strong>Groom:</strong> <br /><br />email: <a href="mailto:jamestyler@outlook.com">jamestyler@outlook.com</a> <br />phone: 417.540.3329
</address>